<h2><strong>Title</strong></h2>
<h3><%= @question.title %></h3>

<h2><strong>Description</strong></h2>
<h3><%= @question.description %></h3>		

<h2>
	<strong>Posted by</strong>
	<%= link_to @question.user.name, user_path(@question.user) %>		
</h2>

<div class="well">
	<%= render 'answers/form' %>
</div>

<h2>Users Answers</h2>
<%  @answers.each do |answer| %>
<div class="col-md-3">
  <div class="well">
          <h4><%= link_to answer.user.name, user_path(answer.user) %></h4>
          <p> <%= answer.description %> </p>
          <p><%= link_to 'Delete answer', answer, method: :delete, data: {confirm: 'Are you sure?' } %></p>
  </div>
</div>  
<% end %>