

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-md-offset-2">
    <h3><span class="text-primary"><%= @user.name %><br></span></h3>
		<h3>Email: <span class="text-primary"><%= @user.email %><br></span></h3>
    <h3><span class="text-primary"><%= @user.role %>&middot;  <%= @user.verification %><br></span></h3>
    <p> Member since: <%= @user.created_at.strftime("%^B %Y") %> </p>
    <p><%= @user.city if @user.city %>  <%= @user.country if @user.country %></p>
    <p><% @user.intro %></p>
    <% if logged_in? and current_user.Admin? %>
      <% if !@user.Verified? %>
        <%= button_to "Verify", verify_user_path(@user.id), method: :post, class:"btn btn-primary"%>
      <% else %>
        <%= button_to "Unverify", unverify_user_path(@user.id), method: :post, class:"btn btn-primary"%>
      <% end %>
    <% end %>
		<hr>

		<h3>Profile Picture:</h3>
			<% if !@user.avatar.present? %>
        <%= image_tag "http://placehold.it/770x300&text=no images for profile", class:"img-responsive" %>
      <% else %>
				<%= image_tag(@user.avatar) %><br>
			<% end %>		
		<button class="btn btn-default"><%= link_to 'Edit Profile', edit_user_path(@user) %></button> 
	</div>
	<div class="col-md-2"></div>

</div>

<% if logged_in? and @user.Admin? %>
  <% @users.each do |user|%>
    <div id="users">
      <ul>
        <li><%= link_to user.name, user_path(user.id) %></a>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>